.cover__link {
    display: grid;
    padding: 245px 312px 245px;
    text-decoration: none;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-position:center;
}

@media (max-width: 1024px) {
    .cover__link {
        padding: 195px 232px;
    }
}

@media (max-width: 768px) {
    .cover__link {
        padding: 115px 104px;
    }
}

@media (max-width: 320px) {
    .cover__link {
        padding: 33px 16px;
    }
}