.footer {
    margin: 0 auto;
    padding: 92px 0 24px;
    display: flex;
    max-width: 1184px;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .footer {
        width: 90.625%;
    }
}

@media (max-width: 768px) {
    .footer {
        width: 93.75%
        padding: 88px 0 24px;
    }
}

@media (max-width: 765px) {
    .footer {
        display: grid;
        margin: 0;
        max-width: 186px;
        padding: 64px 0 24px 16px;
        flex-direction: column;
    }
}