.header__lang-links {
    list-style-type: none;
    margin: 0;
    padding: 18px 0 6px;
    display: flex;
}

@media (max-width: 320px) {
    .header__lang-links {
        padding: 14px 0 8px; 
    }
}